html{
    font-family: "Montserrat";
    background-color: rgb(153, 155, 156);
}
h1{
    text-align: center;
    font-size: 30px;
}
div{
    background-color: rgb(36, 35, 35);
    color: whitesmoke;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    font-size: small;
<<<<<<< HEAD

    
=======
>>>>>>> 6b4094e310fdfb606b27e11973e33745b03e5276
}
button{
    background-color: rgb(189, 0, 0);
    padding: 10px;
    font-family: "Montserrat";
    color:rgb(255, 255, 255);
    border-radius: 15px;
    width: 25%;
    float: right;
}